h1 {
  font-size: calc(1.5rem + (1) * (100vw - min(300px, 768px)) / 100);
}

h3 {
  font-size: calc(1rem + (0.5) * (100vw - min(300px, 768px)) / 100);
  color: rgb(0, 255, 34);
}

/* .error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
.error-input {
  border-color: red;
} */

/* media screen */

@media only screen and (max-width: 768px) {
  .expense-main {
    width: 95% !important;
  }
  #btns {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  button {
    margin-bottom: 1rem;
    width: 100%;
  }
}
