body {
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 23%,
    rgba(83, 83, 101, 1) 39%,
    rgba(110, 110, 122, 1) 41%,
    rgba(137, 137, 144, 1) 43%,
    rgba(151, 151, 155, 1) 45%,
    rgba(158, 158, 160, 1) 47%,
    rgba(165, 165, 165, 1) 49%,
    rgba(168, 168, 168, 1) 51%,
    rgba(164, 164, 164, 1) 53%,
    rgba(159, 159, 159, 1) 55%,
    rgba(152, 153, 153, 1) 57%,
    rgba(145, 147, 147, 1) 59%,
    rgba(127, 129, 129, 1) 62%,
    rgba(55, 58, 59, 1) 78%
  );
}
h1 {
  font-size: calc(1.5rem + (1) * (100vw - min(300px, 768px)) / 100);
}

h3 {
  font-size: calc(1rem + (0.5) * (100vw - min(300px, 768px)) / 100);
  color: rgb(0, 255, 34);
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
.error-input {
  border-color: red;
}

/* media screen */

@media only screen and (max-width: 768px) {
  #btns {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  button {
    margin-bottom: 1rem;
    width: 100%;
  }
}
